.cart-summary {
    padding: 16px;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #1a1a1a;
}

.cart-summary-header{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;   
}

.cart-summary h2 {
    margin-bottom: 16px;
    color: #ff5722;
}

.cart-summary-header p {
    margin: 0;
    font-weight: bold;
}

.cart-summary-header button {
    padding: 8px 12px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-summary-header button:hover {
    background-color: #e64a19;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.cart-item-name {
    flex: 1;
    margin-left: 12px;
}

.cart-item-price {
    font-weight: bold;
}

.cart-item-quantity {
    margin: 0 12px ;
    font-weight: bold;
    color: #2563eb;
}

.cart-item-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}