.header-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem ;
    width: 85%;
    position: absolute;
    top: 0;
    left: 0;
    
}

.header-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.title{
    font-size: 200%;
    color: #ff9800 ;
}
.logo{
    height: 60px;
    border-radius: 50%;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}


